.movie-list-page {
  height: 100%;
}

.movie-list-page h1 {
  margin: 0;
}

.movie-list-page .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.movie-list-page-actions {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.movie-list-page .button + .button {
  margin-left: 8px;
}
